.bookingForm .form-group.tb-plugin-form{
    display:flex;
    flex-direction: column;
}
.bookingForm .tb-plugin-form-row{
    display: flex;
    flex-direction: row;
    margin-bottom:5px;
}
.bookingForm .tb-plugin-form-row select, .tb-plugin-form-row input[type="text"] {
    width: 90%;
    padding: 6px 12px;
    line-height: 1.5rem;
    height: auto;
    font-size: 1rem;
    margin: 0;
}
.bookingForm .row-inline {
    flex: fit-content;
    display: flex;
    margin:0px 2px;
}
.bookingForm button {
    background: #eeefff;
    color:#313942;
    border: 1px solid #eee;
    padding: 6px 12px;
    line-height: 1.5rem;
    border-radius: 5px;
    font-size:1rem;
}
.bookingForm button:hover{
    background: #6c757d;
    color:#fff;
}
.bookingForm  .tb-plugin-form-row.tb-plugin-error {
  background: #f8f9fa;
  padding: 10px;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  font-size: .8rem;
  display:grid;
}
.bookingForm .tb-plugin-form-row.tb-plugin-error .tb-close{
    justify-self: end;
    font-size: 1rem;
    color: #000;
    opacity: 1;
    cursor: pointer;
}
.tb-choose-table {
    display:flex;
    flex-direction: column;
}
.tb-line {
    display: flex;
    flex-direction: row;
}
.tb-cell {
    width: 50px;
    height: 50px;
    display: block;
    cursor:pointer;
    position: relative;
}
.tb-cell.circle.available, .tb-cell.rectangle.available, .tb-cell.square.available {
    background: #005e8d;
    border:1px solid #fff;
}
.tb-cell.circle.booked, .tb-cell.rectangle.booked, .tb-cell.square.booked {
    background: #eee;
}
.tb-cell.circle {
    border-radius:50%;
}
.tb-cell.rectangle {
    height: 35px;
}
.tb-cell.selected:after {
    content:'\2705';
    position: absolute;
    right: 0;
}
.tb-cell i {
    color: #fff;
    font-style: normal;
    position: absolute;
    bottom: 0;
    font-size: 8px;
}
.tb-choose-table h3 {
  font-size: 1rem;
  border-bottom: 1px solid #eee;
}
@media (max-width: 768px) {
    .bookingForm .row-inline {
        margin:5px 0px;
    }
    .bookingForm .tb-plugin-form-row{
        flex-direction: column;
    }
    .bookingForm .tb-plugin-form-row select,
    .tb-plugin-form-row input[type="text"],
    .bookingForm button {
        width: 100%;
    }
    .bookingForm button {
        line-height: 2rem;
    }
}